[submodule "dhongu/deltatech"]
	path = dhongu/deltatech
	url = git@github.com:dhongu/deltatech.git
	branch = 15.0

[submodule "EdouardRivendell/SupercrackLive"]
	path = EdouardRivendell/SupercrackLive
	url = git@github.com:EdouardRivendell/SupercrackLive.git
	branch = TestOrder

[submodule "jasimibos/Odoo-Module-master"]
	path = jasimibos/Odoo-Module-master
	url = git@github.com:jasimibos/Odoo-Module-master.git
	branch = master

[submodule "rechacon/alcaldia"]
	path = rechacon/alcaldia
	url = git@github.com:rechacon/alcaldia.git
	branch = prueba0208
